
.label{
    font-family: 'Kanit', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.oswald{
    font-family: 'Oswald', sans-serif;
}
.kanit{
    font-family: 'Kanit', sans-serif;
}

.block{
    display: block;
}

.border{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button{
cursor: pointer;
outline: 0;
display: inline-block;
font-weight: 400;
line-height: 1.5;
text-align: center;
background-color: transparent;
border: 1px solid transparent;
padding: 6px 12px;
font-size: 1rem;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
color: grey;
border-color: grey;

:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
}

.half-height-card {
height: 50%;
}

.half-height-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire space while maintaining aspect ratio */
}

        
h1{
    font-size: 12.89px;
}
h2{
    font-size: 9.00px;
}
h3{
    font-size: 6.89px;
}
.a{
    font-size: 12px;
}
.bg{
    background-image: url(images/ken\ igop.jpg);
}
#container {
position: relative;
text-align: center;
color: white;
}

#container1 {
position: relative;
text-align: center;
color: white;
}

.centered {
position: absolute;
top: 45%;
left: 50%;
transform: translate(-0%, -70%);
}

.centeredBottom{
position: absolute;
top: 100%;
left: 50%;
transform: translate(-50%, -50%);
}

.centeredReal {
position: absolute;
top:40%;
left: 50%;
transform: translate(-50%, -50%);
}


.centeredSearch{
position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%, -50%);
}

.card .card-img-top-1{
    max-height: 80%;
    width: auto;
}

h5{
    font-size: 60px;
}

